body {
  background-color: #5D5B5B; 
}


#header {
  text-align: center;
  margin:40px;
}

p {
  font-family: monospace;

}

#a {
  text-align: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  width: 100000px;

}

#gif {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
